extends layout

block content
  body(style='background-color:#90ee90;')
  h1(style='color:blue;') Objective 4
  p(style='color:red;') Welcome to my test page for Objective 4.
  button
  a(href='https://www.w3schools.com') This is a link
